#background-sounds-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#icons-and-volume-controls-wrapper {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

#icons-and-volume-controls {
  display: flex;
  flex-direction: column;
}

#background-sounds-icons {
  display: flex;
  justify-content: center;
}

.icon {
  width: 90px;
  height: 90px;
  margin-bottom: 30px;
}
